 <div class="panel panel-primary">
  <div class="panel-heading">
   <h3 class="panel-title">消费履历</h3>
  </div>
  <table class="table table-striped">
   <thead>
    <tr>
     <td><h5>日期</h5></td>
     <td><h5>内容</h5></td>
     <td><h5>结果</h5></td>
     <td><h5>费用</h5></td>
     <td><h5>余额</h5></td>
    </tr>
   </thead>
   <tbody>
     {{#each feeHistory}}
    <tr>
     <td><h5>{{{convUtcDateString create_date}}}</h5></td>
     <td><h5>{{from_content}}</h5></td>
     <td><h5>{{to_content}}</h5></td>
     <td><h5>{{{fen2yuan fee}}}元</h5></td>
     <td><h5>{{{fen2yuan user_balance}}}元</h5></td>
    </tr>
    {{/each}}
   </tbody>
  </table>
 </div>
 <div class="panel panel-primary">
  <div class="panel-heading">
   <h3 class="panel-title">充值履历</h3>
  </div>
  <table class="table table-striped">
   <thead>
    <tr>
     <td><h5>日期</h5></td>
     <td><h5>事件</h5></td>
     <td><h5>费用</h5></td>
     <td><h5>余额</h5></td>
    </tr>
   </thead>
   <tbody>
     {{#each chargeHistory}}
    <tr>
     <td><h5>{{{convUtcDateString create_date}}}</h5></td>
     <td><h5>{{memo}}</h5></td>
     <td><h5>{{{fen2yuan total_fee}}}元</h5></td>
     <td><h5>{{{fen2yuan user_balance}}}元</h5></td>
    </tr>
    {{/each}}
   </tbody>
  </table>
 </div>
