<div class="page">
  <div class="hd">
    <h1 class="page_title">个人资料</h1>
  </div>
  {{#if msg}}
  <div class="alert alert-info">
    {{msg}}
  </div>
  {{/if}}
  <div class="bd">
    <div class="weui_cells_title">个人信息</div>
    <div class="weui_cells">
      <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
          <p>昵称</p>
        </div>
        <div class="weui_cell_ft">
          {{account.nickname}}
        </div>
      </div>
      <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
          <p>余额</p>
        </div>
        <div class="weui_cell_ft">
          {{{fen2yuan account.balance}}}元
        </div>
      </div>
    </div>

    <div class="weui_cells weui_cells_access">
      <a class="weui_cell" href="javascript:document.location='/profile?openid={{openid}}&key=username';">
        <div class="weui_cell_bd weui_cell_primary">
          <p>姓名</p>
        </div>
        <div class="weui_cell_ft">{{account.username}}</div>
      </a>
      <!-- <a class="weui_cell" href="javascript:document.location='/profile?openid={{openid}}&key=sex';"> -->
      <!--   <div class="weui_cell_bd weui_cell_primary"> -->
      <!--     <p>性别</p> -->
      <!--   </div> -->
      <!--   <div class="weui_cell_ft">{{account.sex}}</div> -->
      <!-- </a> -->
      <a class="weui_cell" href="javascript:document.location='/profile?openid={{openid}}&key=telephone';">
        <div class="weui_cell_bd weui_cell_primary">
          <p>手机</p>
        </div>
        <div class="weui_cell_ft">{{account.telephone}}</div>
      </a>
      <a class="weui_cell" href="javascript:editAddress()">
        <div class="weui_cell_bd weui_cell_primary">
          <p>地址</p>
        </div>
        <div id="profile-address" class="weui_cell_ft"></div>
      </a>
    </div>
  </div>
</div>


{{#extend "scripts"}}
    <script src="/jweixin-1.0.0.js"></script>
    <script>
     function editAddress() {
         _log('access_token: {{access_token}}');
         $.ajax({
             url: '/address',
             type: 'post',
             data: {
                 access_token: '{{access_token}}',
                 url: location.href.split('#')[0] // 将当前URL地址上传至服务器用于产生数字签名
             }
         }).then(function(data) {
             WeixinJSBridge.invoke('editAddress', data, function(res){
                 _log(res);
                 $('#profile-address').text(res.addressDetailInfo);
             });
         });
     };

     function _log(msg) {
         $.ajax({
             url: '/log',
             type: 'post',
             data: {
                 msg: msg
             }
         });
     }
    </script>
{{/extend}}
