<script id="approve-template" type="text/x-handlebars-template">
    \{{#each approves}}
    <li class="weui_uploader_file" style="background-image:url('\{{pic}}')" onclick="javascript:previewImage('\{{pic}}');"></li>
    \{{/each}}
</script>

<div class="page">
  <div class="hd">
      <h1 class="page_title">
          <img src="{{account.portrait}}" width="96" height="96" id="img_portrait" onclick="javascript:editPortrait()"/>
      </h1>
  </div>
  {{#if msg}}
  <div class="alert alert-info">
    {{msg}}
  </div>
  {{/if}}
  <div class="bd">
    <div class="weui_cells">
      <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
          <p>昵称</p>
        </div>
        <div class="weui_cell_ft">
          {{account.real_name}}
        </div>
      </div>
    </div>

    <div class="weui_cells_title">个人信息</div>
    <div class="weui_cells weui_cells_access">
      <a class="weui_cell" href="javascript:document.location='/profile?openid={{openid}}&key=real_name';">
        <div class="weui_cell_bd weui_cell_primary">
          <p>姓名</p>
        </div>
        <div class="weui_cell_ft">{{account.real_name}}</div>
      </a>
      <a class="weui_cell" href="javascript:document.location='/profile?openid={{openid}}&key=mobile_phone';">
        <div class="weui_cell_bd weui_cell_primary">
          <p>手机</p>
        </div>
        <div class="weui_cell_ft">{{account.mobile_phone}}</div>
      </a>
      <a class="weui_cell" href="javascript:editAddress()">
        <div class="weui_cell_bd weui_cell_primary">
          <p>地址</p>
        </div>
        <div id="profile-address" class="weui_cell_ft"></div>
      </a>
    </div>

    <div class="weui_cells_title">商户认证</div>
    <div class="weui_cells">
      <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
          <p>认证</p>
        </div>
        {{#is_consumer account.wholesale_status}}
           <div id="wholesale_status_action" class="weui_cell_ft">
              <a href="javascript:requestWholesale();" class="weui_btn weui_btn_mini weui_btn_primary">申请</a>
           </div>
        {{ else }}
           <div class="weui_cell_ft">
              {{wholesale_status account.wholesale_status}}
           </div>
        {{/is_consumer}}
      </div>
    </div>
    <div class="weui_cells">
      <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
          <p>营业执照</p>
        </div>
        <div class="weui_cell_ft">
          <a href="javascript:resetImage();" class="weui_btn weui_btn_mini weui_btn_primary">重置</a>
          <div class="weui_dialog_confirm" id="reset_dialog" style="display: none;">
            <div class="weui_mask"></div>
            <div class="weui_dialog">
              <div class="weui_dialog_hd"><strong class="weui_dialog_title">营业执照</strong></div>
              <div class="weui_dialog_bd">确定重置营业执照图片？</div>
              <div class="weui_dialog_ft">
                  <a href="javascript:;" class="weui_btn_dialog default">取消</a>
                  <a href="javascript:resetUserApprove();" class="weui_btn_dialog primary">确定</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
          <div class="weui_uploader">
            <div class="weui_uploader_bd">
              <ul class="weui_uploader_files">
              </ul>
              <div class="weui_uploader_input_wrp">
                  <input class="weui_uploader_input" type="button"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{{#extend "scripts"}}
    <script src="/bower_components/async/dist/async.min.js"></script>
    <script src="/bower_components/handlebars/handlebars.min.js"></script>
    <script src="/stylesheets/jweixin-1.0.0.js"></script>
    <script>
     
     var previewUrls = [];
     
     $(function () {
         var $loadingToast = $('#loadingToast');
         if ($loadingToast.css('display') != 'none') {
             return;
         }

         $loadingToast.show();
         $.ajax( {
             url: '/list_approves?openid={{openid}}'
         }).then(function(data) {
              for(var index in data){
                previewUrls.push(data[index].pic);
             }
             _log(data);
             var template = Handlebars.compile($('#approve-template').html());
             $('.weui_uploader_files').html(template({ approves : data }));

             $loadingToast.hide();
         });
     });


     $.ajax({
          url: '/weixin/getsignature',
          type: 'post',
          data: {
              url: location.href.split('#')[0]
          }
      }).done(function(r) {
          wx.config({
              appId: r.appId,
              timestamp: r.timestamp,
              nonceStr: r.nonceStr,
              signature: r.signature,
              jsApiList: [
                  'chooseImage',
                  'uploadImage',
                  'downloadImage',
                  'previewImage'
              ]
          });
     });
     function editPortrait() {
        wx.chooseImage({
          count: 1,
          sizeType: ['original', 'compressed'],
          sourceType: ['album', 'camera'],
          success: function (res) {
              var localIds = res.localIds;
              wx.uploadImage({
                  localId: localIds[0].toString(),
                  isShowProgressTips: 1,
                  success: function (res) {
                      var serverId = res.serverId;
                      $.ajax({
                         url: '/change_portrait',
                         type: 'post',
                         data: {
                           openid: '{{openid}}',
                           mediaid: serverId
                         }
                     }).then(function(data) {
                        if(data != null && data != ''){
                          $("#img_portrait").attr('src',data);
                        }
                     });
                  }
              });
          }
        });
     };
     function editAddress() {
         _log('access_token: {{access_token}}');
         $.ajax({
             url: '/address',
             type: 'post',
             data: {
                 access_token: '{{access_token}}',
                 url: location.href.split('#')[0] // 将当前URL地址上传至服务器用于产生数字签名
             }
         }).then(function(data) {
             WeixinJSBridge.invoke('editAddress', data, function(res){
                 _log(res);
                 $('#profile-address').text(res.addressDetailInfo);
             });
         });
     };

     $('.weui_uploader_input').click(function () {
         wx.chooseImage({
             count: 9,
             sizeType: ['original', 'compressed'],
             sourceType: ['album', 'camera'],
             success: function (res) {
                 var localIds = res.localIds;
                 async.eachSeries(localIds, function iteratee(localId, callback) {
                     _log(localId);
                     wx.uploadImage({
                         localId: localId,
                         isShowProgressTips: 1,
                         success: function (res) {
                             var serverId = res.serverId;
                             $.ajax({
                                 url: '/change_store_auth',
                                 type: 'post',
                                 data: {
                                     openid: '{{openid}}',
                                     mediaid: serverId
                                 }
                             }).then(function(data) {
                                 if(data != null && data != ''){
                                     previewUrls.push(data);
                                     var insertHtml = '<li class=\"weui_uploader_file\" style=\"background-image:url(' + data + ')\" onclick=\"javascript:previewImage(\'' + data + '\');\"></li>';
                                     $('.weui_uploader_files').append(insertHtml);
                                 }
                                 callback();
                             });
                         }
                     });
                 });
             }
         });
     });

     function previewImage(url) {
         wx.previewImage({
             current: url,
             urls: previewUrls
         });
     };

     function _log(msg) {
         $.ajax({
             url: '/log',
             type: 'post',
             data:   msg
         });
     };

     function requestWholesale() {
        $.ajax({
             url: '/change_account',
             type: 'post',
             data: {
                 openid: '{{openid}}',
                 key : 'wholesale_status',
                 val : 'request'
             }
         }).then(function() {
            $('#wholesale_status_action').hide();
            location.reload();
         });
     };
     
     function resetImage(){
        var $dialog = $('#reset_dialog');
        $dialog.show();
        $dialog.find('.weui_btn_dialog').one('click', function () {
            $dialog.hide();
        });
     };
     
     function resetUserApprove(){
        $.ajax({
             url: '{{appname}}/reset_user_approve',
             type: 'post',
             data: {
                 openid: '{{openid}}'
             }
         }).then(function() {
            $('.weui_uploader_files').html('');
         });
     };
    </script>
{{/extend}}
