 <div class="panel panel-primary">
  <div class="panel-heading">
   <h3 class="panel-title">个人信息</h3>
  </div>
  <div class="panel-body">
   <h5>昵称：{{account.nickname}}</h5>
   <h5>余额：{{{fen2yuan account.balance}}}元</h5>
  </div>
 </div>
 <div class="panel panel-primary">
  <div class="panel-heading">
   <h3 class="panel-title">绑定手机号码</h3>
  </div>
  <div class="panel-body">
    <form id="contact-form" method="post" action="bind_telphone">
      <div class="input-group">
        <input type="hidden" id="openid" name="openid" value="{{openid}}"> 
        <input type="text" class="form-control" id="telephone" name="telephone" value="{{account.telephone}}"placeholder="请输入手机号码" onkeyup="this.value=this.value.replace(/\D/g,'')">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" onclick="this.form.submit()">{{bind_action}}</button>
        </span>
      </div>
    </form>
  </div>
 </div>
