<div class="page">
  <div class="hd">
      <h1 class="page_title">
          <img src="{{account.portrait}}" width="96" height="96" id="img_portrait" onclick="javascript:editPortrait()"/>
      </h1>
  </div>
  {{#if msg}}
  <div class="alert alert-info">
    {{msg}}
  </div>
  {{/if}}
  <div class="bd">
    <div class="weui_cells_title">个人信息</div>
    <div class="weui_cells">
      <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
          <p>昵称</p>
        </div>
        <div class="weui_cell_ft">
          {{account.nickname}}
        </div>
      </div>
      <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
          <p>认证</p>
        </div>
        <div class="weui_cell_ft">
          {{account.business_flag}}
        </div>
      </div>
    </div>

    <div class="weui_cells weui_cells_access">
      <a class="weui_cell" href="javascript:document.location='{{appname}}/profile?openid={{openid}}&key=username';">
        <div class="weui_cell_bd weui_cell_primary">
          <p>姓名</p>
        </div>
        <div class="weui_cell_ft">{{account.username}}</div>
      </a>
      <!-- <a class="weui_cell" href="javascript:document.location='{{appname}}/profile?openid={{openid}}&key=sex';"> -->
      <!--   <div class="weui_cell_bd weui_cell_primary"> -->
      <!--     <p>性别</p> -->
      <!--   </div> -->
      <!--   <div class="weui_cell_ft">{{account.sex}}</div> -->
      <!-- </a> -->
      <a class="weui_cell" href="javascript:document.location='{{appname}}/profile?openid={{openid}}&key=telephone';">
        <div class="weui_cell_bd weui_cell_primary">
          <p>手机</p>
        </div>
        <div class="weui_cell_ft">{{account.telephone}}</div>
      </a>
      <a class="weui_cell" href="javascript:editAddress()">
        <div class="weui_cell_bd weui_cell_primary">
          <p>地址</p>
        </div>
        <div id="profile-address" class="weui_cell_ft"></div>
      </a>
    </div>
  </div>
</div>


{{#extend "scripts"}}
    <script src="/stylesheets/jweixin-1.0.0.js"></script>
    <script>
     $.ajax({
          url: '{{appname}}/weixin/getsignature',
          type: 'post',
          data: {
              url: location.href.split('#')[0]
          }
      }).done(function(r) {
          wx.config({
              appId: r.appId,
              timestamp: r.timestamp,
              nonceStr: r.nonceStr,
              signature: r.signature,
              jsApiList: [
                  'chooseImage',
                  'uploadImage',
                  'downloadImage'
              ]
          });
     });
     function editPortrait() {
        wx.chooseImage({
          count: 1,
          sizeType: ['original', 'compressed'],
          sourceType: ['album', 'camera'],
          success: function (res) {
              var localIds = res.localIds;
              wx.uploadImage({
                  localId: localIds[0].toString(),
                  isShowProgressTips: 1,
                  success: function (res) {
                      var serverId = res.serverId;
                      $.ajax({
                         url: '{{appname}}/change_portrait',
                         type: 'post',
                         data: {
                           openid: '{{openid}}',
                           mediaid: serverId
                         }
                     }).then(function(data) {
                        if(data != null && data != ''){
                          $("#img_portrait").attr('src',data);
                        }
                     });
                  }
              });
          }
        });
     };
     function editAddress() {
         _log('access_token: {{access_token}}');
         $.ajax({
             url: '{{appname}}/address',
             type: 'post',
             data: {
                 access_token: '{{access_token}}',
                 url: location.href.split('#')[0] // 将当前URL地址上传至服务器用于产生数字签名
             }
         }).then(function(data) {
             WeixinJSBridge.invoke('editAddress', data, function(res){
                 _log(res);
                 $('#profile-address').text(res.addressDetailInfo);
             });
         });
     };

     function _log(msg) {
         $.ajax({
             url: '{{appname}}/log',
             type: 'post',
             data: {
                 msg: msg
             }
         });
     }
    </script>
{{/extend}}
