 <div class="panel panel-primary">
  <table class="table table-striped">
   <tbody>
     {{#each card_list}}
    <tr>
     <td><h5><a href="/wxcard/consume?openid={{openid}}&code={{code}}&card_id={{card_id}}">{{code}}</a>xpay</h5></td>
     <td><h5>{{card_id}}</h5></td>
    </tr>
    {{else}}
   没有相关数据
    {{/each}}
   </tbody>
  </table>
 </div>
