<script id="card-template" type="text/x-handlebars-template">
    \{{#if card_list}}
        \{{#each card_list}}
            <div class="panel">
                <div class="panel-heading">
                    <h5>\{{card_detail.cash.base_info.brand_name}}</h5>
                </div>
                <div class="panel-body">
                    <h3 class="text-center"><strong>\{{card_detail.cash.base_info.title}}</strong></h3>
                    <h5 class="text-center text-muted">\{{card_detail.cash.base_info.sub_title}}</h5>
                    <a href="/wxcard/consume?openid=\{{openid}}&code=\{{code}}&card_id=\{{card_id}}" class="weui_btn weui_btn_plain_primary">立即使用</a>
                </div>
            </div>
        \{{/each}}
    \{{else}}
        <div class="weui_msg">
            <div class="weui_icon_area"><i class="weui_icon_msg weui_icon_safe_warn"></i></i></div>
            <div class="weui_text_area">
                <h2 class="weui_msg_title"></h2>
                <p class="weui_msg_desc">您暂时没有可以使用的卡券</p>
            </div>
        </div>
    \{{/if}}
</script>


<div id="cards">
</div>

{{#extend "scripts"}}
    <script src="/bower_components/handlebars/handlebars.min.js"></script>
    <script>
     $(function () {
         var $loadingToast = $('#loadingToast');
         if ($loadingToast.css('display') != 'none') {
             return;
         }

         $loadingToast.show();
         $.ajax( {
             url: '/wxcard/list?openid={{openid}}'
         }).then(function(data) {
             var template = Handlebars.compile($('#card-template').html());
             $('#cards').html(template({ card_list : data }));

             $loadingToast.hide();
         });
     });
    </script>
{{/extend}}
