<div class="panel panel-primary"> 
 <div class="panel-heading">
  <h3 class="panel-title">翻译代金券</h3>
 </div>
 {{#each card_list}} 
 <div class="list-group">
   <a href="/wxcard/consume?openid={{openid}}&code={{code}}&card_id={{card_id}}" class="list-group-item">
    <h4 class="list-group-item-heading">{{card_detail.cash.base_info.brand_name}}</h4>
    <p class="list-group-item-text">{{card_detail.cash.base_info.title}}</p>
    <button type="button" class="btn btn-primary">立即使用</button> 
   </a>
 </div>
 {{/each}}
</div>