<div class="panel panel-primary">
  <div class="panel-heading">
   <h3 class="panel-title">请支付</h3>
  </div>
  <div class="panel-body">
    <h5>{{ params.body }}{{ params.detail }}</h5>
    <button class="btn btn-primary btn-lg btn-block" id="chooseWXPay">支付</button>
  </div>
</div>
{{#extend "scripts"}}
    <script src="/jweixin-1.0.0.js"></script>
    <script>
     $.ajax({
         url: '/weixin/getsignature',
         type: 'post',
         data: {
             url: location.href.split('#')[0] // 将当前URL地址上传至服务器用于产生数字签名
         }
     }).done(function(r) {
         // 返回了数字签名对象
         _log(r);

         // 开始配置微信JS-SDK
         wx.config({
             appId: r.appId,
             timestamp: r.timestamp,
             nonceStr: r.nonceStr,
             signature: r.signature,
             jsApiList: [
                 'chooseCard',
                 'openCard'
             ]
         });
     });

     wx.ready(function () {

         // 12.2 选择卡券
         wx.chooseCard({
             shopId: {{ shopId }}, // 门店Id
             cardType: {{ cardType }}, // 卡券类型
             cardId: {{ cardId }}, // 卡券Id
             timestamp: {{ timestamp }}, // 卡券签名时间戳
             nonceStr: {{ nonceStr }}, // 卡券签名随机串
             signType: {{ signType }}, // 签名方式，默认'SHA1'
             cardSign: {{ cardSign }}, // 卡券签名
             success: function (res) {
                 _log('已选择卡券：' + JSON.stringify(res.cardList));
             }
         });


         var shareData = {
             title: '微信JS-SDK Demo',
             desc: '微信JS-SDK,帮助第三方为用户提供更优质的移动web服务',
             link: 'http://demo.open.weixin.qq.com/jssdk/',
             imgUrl: 'http://mmbiz.qpic.cn/mmbiz/icTdbqWNOwNRt8Qia4lv7k3M9J1SKqKCImxJCt7j9rHYicKDI45jRPBxdzdyREWnk0ia0N5TMnMfth7SdxtzMvVgXg/0'
         };
         wx.onMenuShareAppMessage(shareData);
         wx.onMenuShareTimeline(shareData);
     });

     wx.error(function (res) {
         _log(res.errMsg);
     });


     function _log(msg) {
         $.ajax({
             url: '/log',
             type: 'post',
             data: {
                 msg: msg
             }
         });
     }

    </script>
{{/extend}}
