<html>
 <head></head>
 <body>
  <div class="panel panel-primary"> 
   <div class="panel-heading"> 
    <h3 class="panel-title">请选择充值金额</h3> 
   </div> 
   <div class="panel-body"> 
    <div class="row"> 
     <div class="panel-body col-xs-6"> 
      <a href="/wxpay/pay?openid={{openid}}&amp;fee=1" class="btn btn-primary btn-lg btn-block active">0.01元</a> 
     </div> 
     <div class="panel-body col-xs-6"> 
      <a href="/wxpay/pay?openid={{openid}}&amp;fee=100" class="btn btn-primary btn-lg btn-block active">1.00元</a> 
     </div> 
     <div class="panel-body col-xs-6"> 
      <a href="/wxpay/pay?openid={{openid}}&amp;fee=1000" class="btn btn-primary btn-lg btn-block active">10.00元</a> 
     </div> 
     <div class="panel-body col-xs-6"> 
      <a href="/wxpay/pay?openid={{openid}}&amp;fee=5000" class="btn btn-primary btn-lg btn-block active">50.00元</a> 
     </div> 
     <div class="panel-body col-xs-6"> 
      <a href="/wxpay/pay?openid={{openid}}&amp;fee=10000" class="btn btn-primary btn-lg btn-block active">100.00元</a> 
     </div> 
     <div class="panel-body col-xs-6"> 
      <a href="/wxpay/pay?openid={{openid}}&amp;fee=20000" class="btn btn-primary btn-lg btn-block active">200.00元</a> 
     </div> 
    </div> 
   </div> 
  </div>
 </body>
</html>