<div class="panel panel-primary">
  <div class="panel-heading">
   <h3 class="panel-title">请选择充值金额</h3>
  </div>
  <div class="list-group">
    <a href="/wxpay/pay?openid={{openid}}&fee=1" class="list-group-item"><h4>0.01元</h4></a>
    <a href="/wxpay/pay?openid={{openid}}&fee=100" class="list-group-item"><h4>1.00元</h4></a>
    <a href="/wxpay/pay?openid={{openid}}&fee=1000" class="list-group-item"><h4>10.00元</h4></a>
    <a href="/wxpay/pay?openid={{openid}}&fee=5000" class="list-group-item"><h4>50.00元</h4></a>
    <a href="/wxpay/pay?openid={{openid}}&fee=10000" class="list-group-item"><h4>100.00元</h4></a>
    <a href="/wxpay/pay?openid={{openid}}&fee=20000" class="list-group-item"><h4>200.00元</h4></a>
  </div>
</div>