<div class="page">
  <div class="hd">
    <h1 class="page_title">请选择充值金额</h1>
  </div>
  <div class="bd spacing">
    <div class="row">
      <div class="panel-body col-xs-6">
        <a href="/wxpay/pay?openid={{openid}}&amp;fee=1" class="weui_btn weui_btn_plain_primary">0.01元</a>
      </div>
      <div class="panel-body col-xs-6">
        <a href="/wxpay/pay?openid={{openid}}&amp;fee=100" class="weui_btn weui_btn_plain_primary">1.00元</a>
      </div>
      <div class="panel-body col-xs-6">
        <a href="/wxpay/pay?openid={{openid}}&amp;fee=1000" class="weui_btn weui_btn_plain_primary">10.00元</a>
      </div>
      <div class="panel-body col-xs-6">
        <a href="/wxpay/pay?openid={{openid}}&amp;fee=5000" class="weui_btn weui_btn_plain_primary">50.00元</a>
      </div>
      <div class="panel-body col-xs-6">
        <a href="/wxpay/pay?openid={{openid}}&amp;fee=10000" class="weui_btn weui_btn_plain_primary">100.00元</a>
      </div>
      <div class="panel-body col-xs-6">
        <a href="/wxpay/pay?openid={{openid}}&amp;fee=20000" class="weui_btn weui_btn_plain_primary">200.00元</a>
      </div>
    </div>

  </div>
</div>
